<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
		<script src="../app/views/pdfviewer/pdf.compat.js"></script>
		<script src="../app/views/pdfviewer/pdf.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="../app/views/pdfviewer/ng-pdfviewer.js"></script>
		<script src="../app/views/pdfviewer/test.js"></script>
		<title>ng-pdfviewer.js test</title>
	</head>
	<body ng-app="testApp">
		<div ng-controller="TestController" class="text-center container">
			<div class="row">
				<div class="btn-group">
					<button class="btn" ng-click="pdfURL='test.pdf'">Load test.pdf</button>
					<button class="btn" ng-click="pdfURL='test2.pdf'">Load test2.pdf</button>
				</div>
				<div class="btn-group">
					<button class="btn" ng-click="gotoPage(1)">|&lt;</button>
					<button class="btn" ng-click="prevPage()">&lt;</button>
					<button class="btn" ng-click="nextPage()">&gt;</button>
					<button class="btn" ng-click="gotoPage(totalPages)">&gt;|</button>
				</div>
			</div>
			<div class="row">
				<span class="label" ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
			</div>
			<div class="row">
				<pdfviewer src="../app/views/ReleaseNotes/{{pdfURL}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
			</div>
		</div>
	</body>
</html>
