<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<style>

body{
   font-family: 'Lato', sans-serif;
 /*font-weight: bold;*/ 

 /*font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Raleway', sans-serif;
   font-family: 'Faustina', serif;
   font-family: 'PT Sans', sans-serif;
   font-family: 'Ubuntu', sans-serif;
   font-family: 'Droid Sans', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
  */
} 

.empty{
    height: 1px; width: 1px; padding-right: 30px; float: left;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #ffffff;
}

.bgColor{

    background-color: #999999 !important;
    color: dimgrey !important;
    border: solid 0.3px #999999 !important;
    height: 0.5px !important;
}

.bxTop{
    border-top: 2px solid #eceaea;
    margin-top: -20px;
    margin-bottom: 60px;
  }

  .bxTopss{
    border-top: 2px solid #eceaea;
    margin-top: -8px;
  }

  .btn {
  
    padding: 3.5px 8px;
  /* 
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;*/
}

.selCls{
    text-align: center;
    min-width: 98px;
    height: 27px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius:4px;
}

</style>

</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>

<body ng-app="mapApp">
    <div ng-controller="mainCtrl" class="ng-cloak">
      <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports" ><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            <ul class="sidebar-subnav" style="overflow-y:auto;">
                <li style="padding-left:25px;">
                    <div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>

      <li ng-repeat="location in vehicle_list | orderBy:natural('group')" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
        <ul class="nav" style="max-height:400px;overflow-x:hidden;overflow-y:scroll;">
          <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | filter:searchbox" data-trigger="hover" ng-class="{active:vehiname ==loc.vehicleId}">
            <a href="javascript:void(0);"  ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)" ng-cloak>
              <img ng-if="trvShow=='true'" ng-src="assets/imgs/trvSideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
              <img ng-if="trvShow!='true'" ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" 
              width="16" height="16"/>
              <img ng-if="trvShow!='true'" ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                  <span> {{loc.shortName}} </span>
                      </a> 
                   </li>
                </ul>
            </li>
           </ul>
        </div>
        
        <div id="testLoad"></div>
        
       <!-- <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                 
                </div>   
            </div>
        </div>-->

  <div id="page-content-wrapper">
 
    <div class="col-md-12" style="padding-top: 5px;margin-top: 60px;">
       <div class="box box-primary" >
        <!-- <div class="row"> -->
                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip" >
                    <h3 class="box-title">Consolidated Site Report</h3>
                </div>
               <div class="row">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromdate" class="form-control placholdercolor" id="dateFrom"  placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromtime" class="form-control placholdercolor" id="timeFrom" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.todate" class="form-control placholdercolor" id="dateTo" placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.totime" class="form-control placholdercolor" id="timeTo" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>

              <!--  <div class="col-md-1" align="center">
                        <div class="form-group">
                            
                                <select class="input-sm form-control" ng-model="interval">
                                     <option value="">Interval</option>
                                     <option label="1 mins">1</option>
                                     <option label="2 mins">2</option>
                                     <option label="5 mins">5</option>
                                     <option label="10 mins">10</option>
                                     <option label="15 mins">15</option>
                                     <option label="30 mins">30</option>
                                </select>
                        </div>
                     </div>  -->

                    <div class="col-md-1" align="center"></div>
                     <div class="col-md-1" align="center">
                        <button style="margin-left: -100%; padding : 5px" ng-click="submitFunction('date')">Submit</button>
                    </div>
                </div>

          <div class="row">
              <div class="col-md-1" align="center"></div>

               <div class="col-md-2" align="center">
                        <div class="form-group">

                         </div>
                  </div>
          </div>

              <!--  </div> -->
             

            </div>
        </div>

        <div class="col-md-12">
            <div class="box bxTop" >

              <div class="pull-right" style="margin-top: 18px;margin-right: 5px;">
                     
                    <img style="cursor: pointer;" ng-click="exportData('Consolidated_Site_Report')"  src="../app/views/reports/image/xls.png" />
                    <img style="cursor: pointer;" ng-click="exportDataCSV('Consolidated_Site_Report')"  src="../app/views/reports/image/csv.jpeg" />
              </div>

              <div> 
                    <select ng-model="orgIds" ng-change="submitFunction('org')" class="pull-right selCls" style="margin-top: 18px;margin-right: 90px;">
                      <option ng-repeat="route in organsIds" value="{{route}}">{{route}}</option>
                    </select>

                    <span class="pull-right" style="margin-top: 21px;margin-right: 30px;">Organisation Name : </span>

              </div>

          <div class="form-group pull-right" style="z-index:2;padding-right:15%;margin-top:18px;width:20px;height:6px;cursor:pointer;" ng-dropdown-multiselect="" options="selectVehicleList" selected-model="selectVehicleModel" ng-click="selectVehicle(selectVehicleModel)"  extra-settings="example14settings" translation-texts="example14textss"></div> 

          <div class="form-group pull-right" style="z-index:2;padding-right:15%;margin-top:18px;width:20px;height:6px;cursor:pointer;" ng-dropdown-multiselect="" options="selectSiteList" selected-model="selectSiteModel" ng-click="selectSite(selectSiteModel)"  extra-settings="example14settings" translation-texts="example14texts"></div> 



            </div>
        </div>

        <div class="row">
            <div class="col-md-1" align="center"></div>
              <div class="col-md-2" align="center">
                   <div class="form-group"></div>
              </div>
        </div>

        <div class="col-md-12">
          <div class="box bxTopss" style="min-height:570px;">
              
            <div id="Consolidated_Site_Report" style="overflow-x: auto; padding-top: 5px;">
              
              <div class="box-body">
                <div class="empty" align="center"></div>
           
                  <div class="row" style="padding-top: 20px;"></div>


                    <table class="table table-striped table-bordered table-condensed table-hover" style="padding:10px 0 10px 0;">
                      
                        <thead>
                          <col>
                              <colgroup span="2"></colgroup>
                              <colgroup span="2"></colgroup>
                          </col>
                          
                          <tr>
                              <td rowspan="2" ng-show="vehiShow"  style="text-align:center;padding-top:25px;">{{vehiLabel}} Id</td>
                             <!-- <th colspan="2" scope="colgroup" ng-repeat="master in conSiteLocData.siteList" style="background-color:#d2dff7;">{{master}}</th> -->
                              <th scope="colgroup" ng-repeat="master in conSiteLocData.siteList" style="background-color:#d2dff7;">{{master}}</th>
                          </tr>
                          
                          <tr>
                            <span>
                             <!-- <th scope="col" ng-repeat-start="master in conSiteLocData.siteList" style="background-color:#ecf7fb;font-weight:unset;color:gray;">Entry</th>-->
                                  <th scope="col" ng-repeat="master in conSiteLocData.siteList" style="background-color:#ecf7fb;font-weight:unset;color:gray;">Entry</th>
                             <!-- <th scope="col" ng-repeat-end="master in conSiteLocData.siteList" style="background-color:#ecf7fb;font-weight:unset;color:gray;">Exit</th> -->
                            </span>
                          </tr>

                          </thead> 

                          <tbody>

                            <tr ng-repeat="data in conSiteLocData.getDetails" >
                              
                              <td style="text-align:center;border-right: 1px solid darkgray;">{{data.vehicleId}}</td>
                           
                           <!-- <td  ng-repeat-start="(key,value) in data.hist" >
                                <div ng-repeat="dat in value" style="padding-bottom:0px !important;padding-right: 10px;">
                                   <span ng-if="dat.startTime!=0" class="fontStyle garage-title" style="color:#557fa8;">{{dat.startTime | date:'dd-MMM-yyyy'}} </span> 
                                   <span ng-if="dat.startTime!=0" class="fontStyle garage-title" style="color:#557fa8;">{{dat.startTime | date:'HH:mm:ss'}}<hr> </span> 
                                
                                   <span ng-if="dat.startTime==0" style="text-align: center;" class="err"> Entry Time </span> 
                                   <span ng-if="dat.startTime==0" style="text-align: center;" class="err"> not found <hr> </span> 

                                   <span class="fontStyle garage-title" style="color:#e18e32;">{{dat.siteEntryTemp}}<hr class="bgColor"> </span> 
                            
                                </div>   
                              </td> -->

                              <td  ng-repeat="(key,value) in data.hist" >
                                <div ng-repeat="dat in value" style="padding-bottom:0px !important;padding-right: 10px;">
                                   <span ng-if="dat.startTime!=0" class="fontStyle garage-title" style="color:#557fa8;">{{dat.startTime | date:'dd-MMM-yyyy'}} </span> 
                                   <span ng-if="dat.startTime!=0" class="fontStyle garage-title" style="color:#557fa8;">{{dat.startTime | date:'HH:mm:ss'}}<hr> </span> 
                                
                                   <span ng-if="dat.startTime==0" style="text-align: center;" class="err"> Entry Time </span> 
                                   <span ng-if="dat.startTime==0" style="text-align: center;" class="err"> not found <hr> </span> 

                                   <span class="fontStyle garage-title" style="color:#e18e32;">{{dat.siteEntryTemp}}<hr class="bgColor"> </span> 
                            
                                </div>   
                              </td>

                            <!--  <td  ng-repeat-end="(key,value) in data.hist" style="border-right: 1px solid darkgray;">
                                <div ng-repeat="dat in value" style="padding-bottom:0px !important;padding-right: 10px;">
                                  <span ng-if="dat.endTime!=0" class="fontStyle garage-title" style="color:#557fa8;">{{dat.endTime | date:'dd-MMM-yyyy'}} </span> 
                                  <span ng-if="dat.endTime!=0" class="fontStyle garage-title" style="color:#557fa8;">{{dat.endTime | date:'HH:mm:ss'}} <hr> </span> 
                                  
                                  <span ng-if="dat.endTime==0" style="text-align: center;" class="err"> Exit Time </span> 
                                  <span ng-if="dat.endTime==0" style="text-align: center;" class="err"> not found <hr> </span> 

                                  <span class="fontStyle garage-title" style="color:#e18e32;"> {{dat.siteExitTemp}}<hr class="bgColor"> </span> 
                         
                                </div>  
                              </td> -->
                            </tr>


                          </tbody>

                          <tr ng-hide="vehiShow">
                             <td colspan="35" ng-if="conSiteLocData.getDetails==null || conSiteLocData.getDetails.length==0 || conSiteLocData.getDetails==''" style="padding: 25px;margin-top:20px;font-size:14px;" class="err">No Data found !</td>
                          </tr>

                       </table>


                        </div>
                    </div>
                </div>
            </div>
          </div>

          </div>
        </div>

    <script src="assets/js/static.js"></script>
    <script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../app/views/reports/customjs/html5csv.js"></script>
    <script src="../app/views/reports/customjs/moment.js"></script>
    <script src="../app/views/reports/customjs/FileSaver.js"></script>
    <script src="../app/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../app/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/underscore.js"></script>
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
    <!-- <script src="assets/js/naturalSortVersionDates.js"></script> -->
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/ConSiteLocReport.js"></script>
    
    <script>

        $("#example1").dataTable();
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

      //  $("#datepicker").datepicker({ maxDate: new Date, minDate: new Date(2007, 6, 12) });
        
        $(function () {

              var dateObj        =   new Date();
              var dateObj2       =   new Date();
              var fromNowTS      =   new Date(dateObj.setDate(dateObj.getDate()-1));
              var fromNowTSS     =   new Date(dateObj2.setDate(dateObj2.getDate()-5));
              var fromNowTimes   =   getTodayDate(fromNowTS);
              var fromNowTimes2  =   getTodayDate(fromNowTSS);
     
                $('#dateFrom').datetimepicker({
                    format:'YYYY-MM-DD',
                    useCurrent:true,
                    pickTime: false,
                    defaultDate: fromNowTimes2,
                    maxDate: new Date,
                    minDate: new Date(2015, 12, 1)
                });

                 $('#dateTo').datetimepicker({
                    format:'YYYY-MM-DD',
                    useCurrent:true,
                    pickTime: false,
                    defaultDate: fromNowTimes,
                    maxDate: new Date,
                    minDate: new Date(2015, 12, 1)
                });

                $('#timeFrom').datetimepicker({
                    pickDate: false,
                    
                });
                $('#timeTo').datetimepicker({
                    pickDate: false,
                    
                });
        });      
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

  </script>
    
</body>
</html>
