<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GPS</title>

<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

</style>
</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>

<body ng-app="mapApp">
    <div id="wrapper" ng-controller="mainCtrl" class="ng-cloak">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports" ><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            <ul class="sidebar-subnav ">
                <li style="padding-left:25px;">
                    <div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>
                <li ng-repeat="location in vehicle_list" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
                    <ul class="nav nav-second-level" style="max-height: 400px; overflow-y: auto;">
                    <li ng-repeat="loc in location.vehicleLocations | filter:searchbox" ng-class="{active:vehiname ==loc.vehicleId}"><a href="javascript:void(0);" ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)" ng-cloak>
                    <!-- <img ng-src="assets/imgs/{{loc.vehicleType}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/> -->
                    <img ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car_P.png" width="16" height="16"/>
                    <span>{{loc.shortName}}</span></a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
        
        <div id="testLoad"></div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                 
                </div>   
            </div>
        </div>
 
    <!-- AdminLTE css box-->

    <div class="col-md-12">
       <div class="box box-primary">
        <!-- <div class="row"> -->
                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                    <h3 class="box-title">Load Report</h3>
                </div>
                <div class="row">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromdate" class="form-control placholdercolor" id="dateFrom"  placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromtime" class="form-control placholdercolor" id="timeFrom" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.todate" class="form-control placholdercolor" id="dateTo" placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.totime" class="form-control placholdercolor" id="timeTo" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-1" align="center"></div>
                     <div class="col-md-1" align="center">
                        <button style="margin-left: -100%; padding : 5px" ng-click="submitFunction()">Submit</button>
                    </div>
                </div>

              <!--  </div> -->
            </div>
            
          
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div>
                    <div class="pull-right">
                        <img style="cursor: pointer;" ng-click="exportData('loadReport')"  src="../app/views/reports/image/xls.png" />
                        <img style="cursor: pointer;" ng-click="exportDataCSV('loadReport')"  src="../app/views/reports/image/csv.jpeg" />
                    </div>
                    <div class="box-body" id="loadReport">
                <div class="empty" align="center"></div> <p style="margin:0" class="page-header">Load Report <span style="float: right;">From : {{uiDate.fromdate}} {{uiDate.fromtime}} - To : {{uiDate.todate}} {{uiDate.totime}}</span></p> 
                            
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center; font-weight: bold;">
                                            <td colspan="4">Vehicle Group</td>
                                            <td colspan="3">{{uiGroup}}</td>
                                            <td colspan="4">Vehicle Name</td>
                                            <td colspan="3">{{shortNam}}</td>   
                                        </tr>
                                        <tr><td colspan="14"></td></tr>
                                        <tr style="text-align:center;font-weight: bold;">
                                            <th class="id" custom-sort order="'date'" sort="sort" style="text-align:center;" width="10%">Date &amp; Time</th>

                                            <th class="id" custom-sort order="'Axle1'" sort="sort" style="text-align:center;" width="7%">Axle1</th>
                                            <th class="id" custom-sort order="'Axle2'" sort="sort" style="text-align:center;" width="7%">Axle2</th>
                                            <th class="id" custom-sort order="'Axle3'" sort="sort" style="text-align:center;" width="7%">Axle3</th>
                                            <th class="id" custom-sort order="'Axle4'" sort="sort" style="text-align:center;" width="7%">Axle4</th>
                                            <th class="id" custom-sort order="'Axle5'" sort="sort" style="text-align:center;" width="7%">Axle5</th>
                                            <th class="id" custom-sort order="'Axle6'" sort="sort" style="text-align:center;" width="7%">Axle6</th>
                                            <th class="id" custom-sort order="'Axle7'" sort="sort" style="text-align:center;" width="7%">Axle7</th>
                                            <th class="id" custom-sort order="'Axle8'" sort="sort" style="text-align:center;" width="7%">Axle8</th>
                                            <th class="id" custom-sort order="'LoadTruck'" sort="sort" style="text-align:center;" width="8%">LoadTruck</th>
                                            <th class="id" custom-sort order="'LoadTrailer'" sort="sort" style="text-align:center;" width="8%">LoadTrailer</th>
                                            <th class="id" custom-sort order="'TotalLoadTruck'" sort="sort" style="text-align:center;" width="9%">TotalLoadTruck</th>
                                            <th class="id" custom-sort order="'TotalLoadTrailer'" sort="sort" style="text-align:center;" width="9%">TotalLoadTrailer</th>
                                            

                                            <!-- <th class="id" custom-sort order="'address'" sort="sort" style="text-align: center;" width="25%">Nearest Location</th> -->
                                            <th class="id" style="text-align: center;" width="15%">G-Map</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <tr class="active" style="text-align:center" ng-repeat="load in siteData.load | orderBy:sort.sortingOrder:sort.reverse">
                                        <td>{{load.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        
                                        <td>{{load.Axle1}}</td>
                                        <td>{{load.Axle2}}</td>
                                        <td>{{load.Axle3}}</td>
                                        <td>{{load.Axle4}}</td>
                                        <td>{{load.Axle5}}</td>
                                        <td>{{load.Axle6}}</td>
                                        <td>{{load.Axle7}}</td>
                                        <td>{{load.Axle8}}</td>
                                        <td>{{load.LoadTruck}}</td>
                                        <td>{{load.LoadTrailer}}</td>
                                        <td>{{load.TotalLoadTruck}}</td>
                                        <td>{{load.TotalLoadTrailer}}</td>

                                        <!-- <td>{{load.address}}</td> -->
                                        <td><a href="https://www.google.com/maps?q=loc:{{load.lat}},{{load.lng}}" target="_blank">Link</a></td>
                                    </tr>
                                    <tr ng-if="siteData.load==null || siteData.load.length==0"  align="center">
                                        <td colspan="14"class="err"><h5>No Data Found! Choose some other date</h5></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    <script src="assets/js/static.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" type="text/javascript"></script>
    <script src="../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="../app/views/reports/customjs/html5csv.js"></script>
    <script src="../app/views/reports/customjs/FileSaver.js"></script>
    <script src="../app/views/reports/customjs/moment.js"></script>
    <script src="../app/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../app/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/siteReport.js"></script>
    <script>

   // $("#example1").dataTable();
        // $("#menu-toggle").click(function(e) {
        //   e.preventDefault();
        //   $("#wrapper").toggleClass("toggled");
   // });
        
        $(function () {
            $('#dateFrom, #dateTo').datetimepicker({
                format:'YYYY-MM-DD',
                useCurrent:true,
                pickTime: false
            });

            $('#timeFrom').datetimepicker({
                pickDate: false,
            });

            $('#timeTo').datetimepicker({
                pickDate: false,
            });
        });      
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


  </script>
    
</body>
</html>


