<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="assets/css/popup.bootstrap.min.css">
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<style>
body{
font-family: 'Lato', sans-serif;
/*font-weight: bold;*/  
/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Faustina', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
}
.empty{
    height: 1px; width: 1px; padding-right: 30px; float: left;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
background-color: #ffffff;
}
</style>
</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>

<body ng-app="mapApp">
    <div id="wrapper" ng-controller="mainCtrl" class="ng-cloak">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports" ><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            <ul class="sidebar-subnav ">
                <li style="padding-left:25px;">
                    <div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>
            <li ng-repeat="location in vehicle_list track by $index | orderBy:natural('group')" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
                    <ul class="nav nav-second-level" style="max-height: 400px; overflow-y: auto;">
                    <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | filter:searchbox" ng-class="{active:vehiname ==loc.vehicleId}"><a href="javascript:void(0);" ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId,loc.shortName,$index, loc.position, loc.address)" ng-cloak>
                    <img ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car_P.png" width="16" height="16"/>
                    <img ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                    <span>{{loc.shortName}}</span></a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
        
        <div id="testLoad"></div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                 
                </div>   
            </div>
        </div>
 
    <!-- AdminLTE css box-->

    <div class="col-md-12">
       <div class="box box-primary">
        <!-- <div class="row"> -->
                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                    <h3 class="box-title">Trip Summary</h3>
                </div>
                <div class="row">
                   <!-- <div class="col-md-1" align="center"></div>-->
                    <div class="col-md-2" align="center">
                                    <div class="form-group" >
                                        <h5 style="color: grey;">{{shortNam}}</h5>
                                    </div>
                                   <!-- <div class="form-group" ng-if="shortNam==undefined || shortNam==null">
                                        <h5 style="color: red;">{{vehiLabel}} not found </h5>
                                    </div> -->
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromdate" class="form-control placholdercolor" id="dateFrom"  placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromtime" class="form-control placholdercolor" id="timeFrom" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.todate" class="form-control placholdercolor" id="dateTo" placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.totime" class="form-control placholdercolor" id="timeTo" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-1" align="center"></div>
                     <div class="col-md-1" align="center">
                        <button style="margin-left: -100%; padding : 5px" ng-click="submitFunction()">Submit</button>
                    </div>
                </div>

              <!--  </div> -->
            </div>
            
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div style="overflow-x: auto;">
                    <div class="pull-right">
                        <img style="cursor: pointer;" ng-click="exportData('tripreportkms')"  src="../app/views/reports/image/xls.png" />
                        <img style="cursor: pointer;" ng-click="exportDataCSV('tripreportkms')"  src="../app/views/reports/image/csv.jpeg" />
                    </div>
                    <div class="box-body" id="tripreportkms" >
                <div class="empty" align="center"></div> <p style="margin:0;font-size:18px;">Trip Summary Report <span style="float: right;font-size:15px;padding-right: 30px;"><b>From</b> : &nbsp;{{uiDate.fromdate}} &nbsp;{{convert_to_24hrs(uiDate.fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{uiDate.todate}} &nbsp;{{convert_to_24hrs(uiDate.totime)}}</span></p> 
                            <br>
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead style="font-weight: bold;">
                                        
                                    <tr class="active">
                                         <td colspan="2"> <div class="col-md-12">Start Time</div> </td>
                                         <td colspan="2"> <div class="col-md-12" >{{siteData.fromTime |  date:'yyyy-MM-dd HH:mm:ss'}}</div>  </td>
                                         <td colspan="2"><div class="col-md-12">End Time</div></td>
                                         <td colspan="2"> <div class="col-md-12">{{siteData.toTime |  date:'yyyy-MM-dd HH:mm:ss'}}</div>  </td>
                                           
                                            <!-- <td colspan="1" rowspan="3"><div class="col-md-12">Last Sighted Location</div></td> -->
                                            <td colspan="4" rowspan="3">
                                                <div class="col-md-12">Location 
                                                    <p style="font-weight: normal">{{siteData.lastLocation}} </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="success">
                                            <td colspan="2"><div class="col-md-12">{{vehiLabel}} Name</div></td>
                    <td colspan="2"><div class="col-md-12" ng-show="siteData.historyConsilated.length != 0 ">{{siteData.vehicleName}}</div><div class="col-md-12" ng-show="siteData.historyConsilated.length == 0">{{vehTripName}}</div><div class="col-md-12" ng-show="siteData.historyConsilated == null">{{vehTripName}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Group Name</div></td>
                                            <td colspan="2"><div class="col-md-12">{{uiGroup}}</div></td>
                                        </tr>
                                         <tr class="danger">
                                            <td colspan="2"><div class="col-md-12">{{vehiLabel}} Id</div></td>
                                            <td colspan="2"><div class="col-md-12">{{siteData.vehicleId}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Trip Distance</div></td>
                                            <td colspan="2"><div class="col-md-12">{{siteData.totalTripLength}} kms</div></td>                                            
                                        </tr>
                                        <tr><td colspan="11"></td></tr>
                                        <tr class="active">
                                            <td colspan="2"><div class="col-md-12">Status</div></td>
                                            <td colspan="2"><div class="col-md-12">Duration (h:m:s)</div></td>
                                            <td colspan="2"><div class="col-md-12">Fuel Details</div></td>
                                            <td colspan="2"><div class="col-md-12">Litres</div></td>
                                            <td colspan="2"><div class="col-md-12">Statistics</div></td>
                                            <td><div class="col-md-12">Occurance</div></td>
                                        </tr>
                                        <tr class="warning">    
                                            <td colspan="2"><div class="col-md-12">Total Moving</div></td>
                                            <td colspan="2"><div class="col-md-12">{{msToTime(siteData.totalMovingTime)}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Initial Level</div></td>
                                            <td colspan="2"><div class="col-md-12">{{siteData.initialFuel}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Fuel Fill Count</div></td>
                                            <td><div class="col-md-12">{{siteData.fuelFillCount}}</div></td>
                                        </tr>
                                        <tr class="info">
                                            <td colspan="2"><div class="col-md-12">Total Idle</div></td>
                                            <td colspan="2"><div class="col-md-12">{{msToTime(siteData.totalIdleTime)}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Final Level</div></td>
                                            <td colspan="2"><div class="col-md-12">{{siteData.finalFuel}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Moving count</div></td>
                                            <td><div class="col-md-12">{{siteData.moveCount}}</div></td>
                                        </tr>
                                        <tr class="success">
                                            <td colspan="2"><div class="col-md-12">Total Parked</div></td>
                                            <td colspan="2"><div class="col-md-12">{{msToTime(siteData.totalParkingTime)}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Total Filling</div></td>
                                            <td colspan="2"><div class="col-md-12">{{siteData.totalFuelFilled}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Parking count</div></td>
                                            <td><div class="col-md-12">{{siteData.parkCount}}</div></td>
                                        </tr>
                                        <tr class="danger">
                                            <td colspan="2"><div class="col-md-12">Total NoData</div></td>
                                            <td colspan="2"><div class="col-md-12">{{msToTime(siteData.totalNoDataTime)}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Consumption</div></td>
                                            <td colspan="2"><div class="col-md-12">{{siteData.totalFuelConsume}}</div></td>
                                            <td colspan="2"><div class="col-md-12">Idle Count</div></td>
                                            <td><div class="col-md-12">{{siteData.idleCount}}</div></td>
                                        </tr>                                      
                                        
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="11"></td>
                                    </tr>
                                    <tr>
                                        <td class="id" custom-sort order="'startTime'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Start Time</td>
                                        <td class="id" custom-sort order="'endTime'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">End Time</td>
                                        <td class="id" custom-sort order="'duration'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Duration (h:m:s)</td>
                                        <td class="id" custom-sort order="'tripDistance'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Distance (kms)</td>
                                   <!-- <td ng-hide="siteData.totalFuelConsume==0" class="id" custom-sort order="'intLoc'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Start Loc</td>-->
                    <!--          <td ng-show="siteData.totalFuelConsume==0" colspan="3" class="id" custom-sort order="'intLoc'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Start Loc</td> -->
                                        <td colspan="3" class="id" custom-sort order="'intLoc'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Start Loc</td> 
                                   <!-- <td ng-hide="siteData.totalFuelConsume==0" class="id" custom-sort order="'finLoc'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">End Loc</td> -->
                    <!--                <td ng-show="siteData.totalFuelConsume==0" colspan="3" class="id" custom-sort order="'finLoc'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">End Loc</td> -->
                                        <td colspan="3" class="id" custom-sort order="'finLoc'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">End Loc</td>
                                        <td class="id" custom-sort order="'position'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Position</td>
                                      <!--  <td ng-hide="siteData.totalFuelConsume==0" class="id" custom-sort order="'fuelConsume'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Fuel Consume (ltr)</td>
                                        <td ng-hide="siteData.totalFuelConsume==0" class="id" custom-sort order="'intFuel'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Intial Fuel (ltr)</td>
                                        <td ng-hide="siteData.totalFuelConsume==0" class="id" custom-sort order="'finFuel'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">End Fuel (ltr)</td>
                                        <td ng-hide="siteData.totalFuelConsume==0" class="id" custom-sort order="'filledFuel'" sort="sort" style="text-align:center;background-color:#d2dff7;font-weight: bold;">Fuel Filled (ltr) </td> -->
                                    </tr>
                                    <tr>
                                        <td colspan="11"></td>
                                    </tr>
                                    <tr ng-repeat="tripsummary in siteData.historyConsilated | orderBy:sort.sortingOrder:sort.reverse" style="text-align : center;">
                                        <!-- ng-click="getInput(tripsummary, siteData)" data-toggle="modal" data-target="#mapmodals" -->
                                        <td class="col-md-1">{{tripsummary.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td class="col-md-1">{{tripsummary.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td class="col-md-1">{{msToTime(tripsummary.duration)}}</td>
                                        <td class="col-md-1">{{tripsummary.tripDistance}}</td>
                                   <!-- <td class="col-md-1" ng-switch on="tripsummary.intLoc" ng-hide="siteData.totalFuelConsume==0">
                                            <div ng-switch-when="undefined"><a href="https://www.google.com/maps?q=loc:{{tripsummary.intLat}},{{tripsummary.intLon}}" target="_blank">Link</a></div>
                                            <div ng-switch-default>
                                                <a ng-click="getInput(tripsummary, siteData)" ng-if="tripsummary.position=='M'" data-toggle="modal" data-target="#mapmodals" >{{tripsummary.intLoc}}</a>
                                                <p ng-if="tripsummary.position!= 'M'">{{tripsummary.intLoc}}</p>
                                            </div>
                                        </td> -->

                   <!--                 <td ng-switch on="tripsummary.intLoc" ng-show="siteData.totalFuelConsume==0" colspan="3">
                                            <div ng-switch-when="undefined"><a href="https://www.google.com/maps?q=loc:{{tripsummary.intLat}},{{tripsummary.intLon}}" target="_blank">Link</a></div>
                                            <div ng-switch-default>
                                                <a ng-click="getInput(tripsummary, siteData)" ng-if="tripsummary.position=='M'" data-toggle="modal" data-target="#mapmodals" >{{tripsummary.intLoc}}</a>
                                                <p ng-if="tripsummary.position!= 'M'">{{tripsummary.intLoc}}</p>
                                            </div>
                                        </td> -->

                                         <td ng-switch on="tripsummary.intLoc" colspan="3">
                                            <div ng-switch-when="undefined"><a href="https://www.google.com/maps?q=loc:{{tripsummary.intLat}},{{tripsummary.intLon}}" target="_blank">Link</a></div>
                                            <div ng-switch-default>
                                                <a ng-click="getInput(tripsummary, siteData)" ng-if="tripsummary.position=='M'" data-toggle="modal" data-target="#mapmodals" >{{tripsummary.intLoc}}</a>
                                                <p ng-if="tripsummary.position!= 'M'">{{tripsummary.intLoc}}</p>
                                            </div>
                                        </td>

                                   <!-- <td class="col-md-1" ng-switch on="tripsummary.finLoc" ng-hide="siteData.totalFuelConsume==0">
                                            <div ng-switch-when="undefined"><a href="https://www.google.com/maps?q=loc:{{tripsummary.finLat}},{{tripsummary.finLon}}" target="_blank">Link</a></div>
                                            <div ng-switch-default>
                                                <a ng-click="getInput(tripsummary, siteData)" ng-if="tripsummary.position=='M'" data-toggle="modal" data-target="#mapmodals" >{{tripsummary.finLoc}}</a>
                                                <p ng-if="tripsummary.position!= 'M'">{{tripsummary.finLoc}}</p>
                                            </div>
                                        </td> -->
                   <!--                 <td ng-switch on="tripsummary.finLoc" ng-show="siteData.totalFuelConsume==0" colspan="3">
                                            <div ng-switch-when="undefined"><a href="https://www.google.com/maps?q=loc:{{tripsummary.finLat}},{{tripsummary.finLon}}" target="_blank">Link</a></div>
                                            <div ng-switch-default>
                                                <a ng-click="getInput(tripsummary, siteData)" ng-if="tripsummary.position=='M'" data-toggle="modal" data-target="#mapmodals" >{{tripsummary.finLoc}}</a>
                                                <p ng-if="tripsummary.position!= 'M'">{{tripsummary.finLoc}}</p>
                                            </div>
                                        </td> -->
                                        <td ng-switch on="tripsummary.finLoc" colspan="3">
                                            <div ng-switch-when="undefined"><a href="https://www.google.com/maps?q=loc:{{tripsummary.finLat}},{{tripsummary.finLon}}" target="_blank">Link</a></div>
                                            <div ng-switch-default>
                                                <a ng-click="getInput(tripsummary, siteData)" ng-if="tripsummary.position=='M'" data-toggle="modal" data-target="#mapmodals" >{{tripsummary.finLoc}}</a>
                                                <p ng-if="tripsummary.position!= 'M'">{{tripsummary.finLoc}}</p>
                                            </div>
                                        </td> 
                                        <td class="col-md-1" ng-switch on="tripsummary.position" >
                                            <span ng-switch-when="S" style="color : #ff480b">Idle</span>
                                            <span ng-switch-when="M" style="color : #00d736">Moving</span>
                                            <span ng-switch-when="P" style="color : #080808">Parked</span>
                                            <span ng-switch-when="U" style="color : #fc00bd">NoData</span>
                                        </td>
                                    <!-- <td class="col-md-1" ng-hide="siteData.totalFuelConsume==0">{{tripsummary.fuelConsume}}</td>
                                        <td class="col-md-1" ng-hide="siteData.totalFuelConsume==0">{{tripsummary.intFuel}}</td>
                                        <td class="col-md-1" ng-hide="siteData.totalFuelConsume==0">{{tripsummary.finFuel}}</td>
                                        <td class="col-md-1" ng-hide="siteData.totalFuelConsume==0">{{tripsummary.filledFuel}}</td>
                                    </tr> -->
                                    <tr  ng-if="siteData.historyConsilated==null || siteData.historyConsilated.length== 0" align="center">
                                        <td colspan="11" class="err"><h5>No Trip Found! Choose some other date</h5></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

       <!--  <div class="modal fade" id="myModal" style=" top :70px">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Trip Summary Routes</h4>
                    </div>
                    <div class="modal-body" id="map_canvas" style="width: 100%; height: 500px;"></div>
                   
                </div>
            </div>
        </div> -->
        <div class="modal fade" id="mapmodals">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myCity">Trip Summary</h4>
                </div>
                <div class="modal-body">
                    <div class="map_container">
                        <div id="map_canvas" class="map_canvas" style="width: 100%; height: 500px;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <script>

/*  var apikey_url = JSON.parse(localStorage.getItem('apiKey'));
    var url = "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places";

    if(apikey_url != null ||  apikey_url != undefined)
        url = "https://maps.googleapis.com/maps/api/js?key="+apikey_url+"&libraries=places"; */
    
   function loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback) {
     if (scriptsCollection[startIndex]) {
       var fileref = document.createElement('script');
       fileref.setAttribute("type","text/javascript");
       fileref.setAttribute("src", scriptsCollection[startIndex]);
       fileref.onload = function(){
         startIndex = startIndex + 1;
         loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback)
       };
 
       document.getElementsByTagName("head")[0].appendChild(fileref)
     }
     else {
       librariesLoadedCallback();
     }
   }
 
   // An array of scripts you want to load in order
   var scriptLibrary = [];
   
   scriptLibrary.push("assets/js/static.js");
   scriptLibrary.push("assets/js/jquery-1.11.0.js");
   scriptLibrary.push("assets/js/bootstrap.min.js");
   scriptLibrary.push("https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js");
   scriptLibrary.push("../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js");
   scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js");
   scriptLibrary.push("../app/views/reports/customjs/html5csv.js");
   scriptLibrary.push("../app/views/reports/customjs/moment.js");
   scriptLibrary.push("../app/views/reports/customjs/FileSaver.js");
   scriptLibrary.push("../app/views/reports/datepicker/bootstrap-datetimepicker.js");
   scriptLibrary.push("../app/views/reports/datatable/jquery.dataTables.js");
 //scriptLibrary.push(url);
   scriptLibrary.push("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js");
 //scriptLibrary.push("assets/js/infobubble.js");
 //scriptLibrary.push("assets/js/moment.js");
 //scriptLibrary.push("assets/js/bootstrap-datetimepicker.js");
 //scriptLibrary.push("assets/js/infobox.js");
   scriptLibrary.push("assets/js/naturalSortVersionDatesCaching.js");
 //scriptLibrary.push("assets/js/naturalSortVersionDates.js");
   scriptLibrary.push("assets/js/vamoApp.js");
   scriptLibrary.push("assets/js/services.js");
   scriptLibrary.push("assets/js/siteReport.js");

// Pass the array of scripts you want loaded in order and a callback function to invoke when its done
   loadJsFilesSequentially(scriptLibrary, 0, function(){
       // application is "ready to be executed"
       // startProgram();
   });
        
    //     $("#menu-toggle").click(function(e) {
    //     e.preventDefault();
    //     $("#wrapper").toggleClass("toggled");
    // });
  
  </script>
    
</body>
</html>
