<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Satheesh">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
<link href="assets/css/leaflet.label.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/popup.bootstrap.min.css">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">
<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
<style type="text/css">

body{
  font-family: 'Lato', sans-serif;
/*font-weight: bold;  
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Faustina', serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Droid Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  */
} 

 .leaflet-top,
 .leaflet-bottom {
    position: absolute;
    z-index: 1 !important;
    pointer-events: none;
 }

 .right-inner-addon input {
    width: 127px;
    margin-left: 10px;
    color: #727e8a !important;
 }

 .sidebar-subnav >li:nth-child(2){
   padding-top: 12px;
 }

 #pac-input {
    position: fixed;
    border-radius: 3px;
    height: 30px;
    width: 200px;
    top: -22px;
    left: 380px;
    max-width: 200px;
    z-index: 1;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.8;
 }  

 /* #map_canvas{ width:100%; height:100%;}  */
  #container-speed{  width: 170px; height: 100px;}
  #container-fuel{  width: 170px; height: 100px;}

  #dropdowns{
 /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); 
    top: 48px;
    left: 12%;
    position: absolute;
    z-index: 1;
    opacity: 0.9; */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); 
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 420px;
    cursor: pointer;
 }

 .polygon_osm{ 
   stroke: green;
   fill: blue;
  /* stroke-dasharray: 10,10; */
   stroke-width: 1;  
 }

 .polygonLabel { 
  color:red;
  background-color:'#f1f1f1';
  z-index: 1;
 }

.polygonLabel:before,
.polygonLabel:after {
    border-top: none;
    border-bottom:none;
    content: none;
    position:none;
    top: none;
 }

 .polygonLabel:before {
    border-right: none;
    border-right-color:none;
    left:none;
 }

 .polygonLabel:after {
    border-left: none;
    border-left-color: none;
    right:none;
 }

</style>

<script src="assets/js/static.js"></script>
<script src="assets/js/jquery-1.11.0.js"></script>
<script type="text/javascript">

    var apiUrlKey = JSON.parse(localStorage.getItem('apiKey'));

    if(apiUrlKey==null){
    
    var aUthName = [];
    try{

      $.ajax({

        async: false,
        method: 'GET', 
        url: "aUthName",
      //data: {"orgId":$scope.orgIds},
        success: function (response) {
          aUthName = response;
          localStorage.setItem('apiKey', JSON.stringify(aUthName[0]));
          localStorage.setItem('userIdName', JSON.stringify('username'+","+aUthName[1]));
        }
      });

    } catch (err){
       console.log(err);
    }
}
</script>
</head>

<div id="status">&nbsp;</div>
<!-- <div class="wrap">
  <div class="loading">
    <div class="bounceball"></div>
    <div class="text">NOW LOADING</div>
  </div>
</div> -->

<body ng-app="mapApp">
<div ng-controller="mainCtrl" class="ng-cloak">
   <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="javascript:void(0);" class="active"><div></div><label>Track</label></a></li>
           <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
           <!-- <li class="alert01"><a href="../public/reports"><div></div><label>Reports</label></a></li> -->
                <li class="alert01"><a ng-href="{{navReports}}"><div></div><label>Reports</label></a></li>
           <!-- <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>-->
                <li class="stastics"><a ng-href="{{navStats}}"><div></div><label>Statistics</label></a></li>
           <!-- <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li> -->
                <li class="admin"><a ng-href="{{navSched}}"><div></div><label>Scheduled</label></a></li>
           <!-- <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li> -->
                <li class="fms"><a ng-href="{{navFms}}"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
            </ul>
             <ul class="sidebar-subnav" style="max-height: 100vh; overflow-y: auto;" ng-init="vehicleStatus='ALL'">
                <li style="margin-bottom: 15px;"><div class="right-inner-addon" align="center"><i class="fa fa-search"></i><input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" /></div>
                <select ng-model="vehicleStatus" style="width:127px; margin-left: 10px;margin-top: 12px; font-size: 12px;padding:3px 3px 3px 3px;">
                    <option value="ALL">All ({{totalVehicles}})</option>
                    <option value="ON">ON ({{vehicleOnline}})</option>
                    <option value="OFF">OFF ({{attention}})</option>
                    <option value="P">Parked ({{parkedCount}})</option>
                    <option value="M">Moving ({{movingCount}})</option>
                    <option value="S">Idle ({{idleCount}})</option>
                    <option value="O">Overspeed ({{overspeedCount}})</option>
                </select>
                </li>
            <li ng-repeat="location in locations04 | orderBy:natural('group')"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)"><span title="{{trimColon(location.group)}}">{{trimColon(location.group)}}</span></a>
            <ul class="nav"  style="max-height: 400px; overflow-y: auto;">
            <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | statusfilter:vehicleStatus | filter:searchbox" ng-class="{active:selected==loc.rowId}">
                    <a href="javascript:void(0);"  ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, loc.rowId)">
                        <img ng-src="assets/imgs/{{loc.vehicleType}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
                           <span tooltips tooltips-position="right"> {{loc.shortName}} </span> </a> 
                           <!--  data-toggle="tooltip" data-original-title="<div align='left'><span>Speed</span> &nbsp;-&nbsp; {{loc.speed}}; <br> <span>Ignition</span> &nbsp;-&nbsp; {{loc.ignitionStatus}} <br> <span>Address</span> &nbsp;-&nbsp; {{loc.address}}  </div>" tooltip-loader -->
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div id="testLoad"></div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="topContent" style="visibility: hidden">
                            <div class="row">
                                <div class="col-md-2" align="center" id="totalvehicles">
                                    <h6>Total {{vehiLabel}}s - <span>( {{totalVehicles}} )</span></h6>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <h6>{{vehiLabel}}s Online - <span>( {{vehicleOnline}} )</span></h6>
                                </div>
                                <div class="col-md-2" id="totalalerts">
                                    <h6>Alarms - <span>( {{alertstrack}} )</span></h6>
                                </div>
                                <div class="col-md-2" id="totalAttention">
                                    <h6>Attention - <span>( {{attention}} )</span></h6>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <h6>Overall Distance <span>( {{distanceCovered}} Km)</span></h6>
                                </div>
                            </div>
                        </div>
                        <div id="minmax">
                            <img src="assets/imgs/add.png" />
                        </div>
                        <div id="menuView">

                            <!-- Side Menu -->
                            <table>
                                <tr>
                                    <td>
                                        <div id="viewMap">
                                             <span title="List and Maps" id="listImg" ng-click="mapView('listMap')"><img style="width: 20px; height: 20px" src="assets/imgs/lis.png" /></span>
                                            <span id="homeImg" ng-click="mapView('tablefull')"><img style="width: 20px; height: 20px" src="assets/imgs/back.png" /></span>
                                        </div>
                                    </td>
                                </tr>
                               <!--  <tr>
                                    <td>
                                        <div title="Live Details" id="viewMap"><img id="minmax" src="assets/imgs/ply.png" /></div>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>
                                        <div title="Maps Marker Details" id="viewMap"><img id="minmaxMarker" style="width: 20px; height: 20px" src="assets/imgs/i.png" /></div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <div title="Near by Vehicles" id="viewMap" ng-click="nearBy();"><img src="assets/imgs/near.png" />
                                        
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>
                                        <div id="viewMap">
                                            <span title="Cluster Marker" id="cluster" ng-click="mapView('cluster')"><img style="width: 20px; height: 20px" src="assets/imgs/group.png" /></span>
                                            <span title="Marker View" id="single" ng-click="mapView('single')"><img style="width: 20px; height: 20px" src="assets/imgs/single.png" /></span>
                                        </div>
                                    </td>
                                </tr> 
                                <tr>
                                    <td>
                                        <div id="viewMap" title="Full Screen">
                                           <span id="fullscreen" ng-click="mapView('fscreen')"><img id="minmaxMarker" style="width: 20px; height: 20px" src="assets/imgs/full.png" /></span>
                                            <span title="Exit FullScreen" id="efullscreen" ng-click="mapView('escreen')"><img style="width: 20px; height: 20px" src="assets/imgs/exit_full.png" /></span>
                                        </div>
                                    </td>
                                </tr>   
                                <tr>
                                    <td>
                                        <div id="viewMap">
                                            <span ng-click="mapView('home')">
                                                <img style="width: 20px; height: 20px" src="assets/imgs/hom.png" />
                                            </span>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="viewMap" title="Graphs">
                                            <span ng-click="mapView('graphs')" id="graphsCharts">
                                                <img style="width: 20px; height: 20px" src="assets/imgs/graphs.png" />
                                            </span>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="viewMap" title="Change Marker" id="cMarker">
                                            <!-- <span ng-click="mapView('markerChange')">
                                                <img style="width: 20px; height: 20px" src="assets/imgs/graphs.png" />
                                            </span> -->
                                            <span title="Cluster Marker" id="carMarker" ng-click="mapView('markerChange')"><img style="width: 20px; height: 20px" src="assets/imgs/mMarker.png" /></span>
                                            <span title="Marker View" id="marker" ng-click="mapView('undefined')"><img style="width: 20px; height: 20px" src="assets/imgs/mCar.png" /></span>
                                            
                                        </div>
                                    </td>
                                </tr>

                                 
                            <!--    <tr>
                                    <td>
                                        <div id="viewMap">
                                            <span title="Tollgate Markers" id="tollYes" ng-click="mapView('tollYes')"><img style="width: 20px; height: 20px" src="assets/imgs/group.png" /></span>
                                            <span title="Remove Tollgates" id="tollNo" ng-click="mapView('tollNo')"><img style="width: 20px; height: 20px" src="assets/imgs/single.png" /></span>
                                        </div>
                                    </td>
                                </tr> -->
                            </table>    
                            
                        </div>
                        <!-- <div id="minmaxMarker" style="position: absolute;top: 10px;left: 120px; z-index:999999" title="Maps Marker Details">
                            <img src="assets/imgs/add.png" /> <a href="../public/liveTrack" id="fullscreen" target="_blank"><img id="minmaxMarker"  src="assets/imgs/full.png" /></a>
                        </div> -->
                        <div id="draggable">
                               <div class="legendlist">
                                    <h3><b>{{vehiLabel}} Status</b></h3>
                                    <div>
                                        <table cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>Moving</td>
                                                    <td><img src="assets/imgs/green.png"/></td>
                                                    <td>Standing</td>
                                                    <td><img src="assets/imgs/orange.png"/></td>
                                                </tr>
                                                 <tr>
                                                    <td>Parked</td>
                                                    <td><img src="assets/imgs/flag.png"/></td>
                                                    <td>Geo Fence</td>
                                                    <td><img src="assets/imgs/blue.png"/></td>
                                                </tr>
                                                 <tr>
                                                    <td>Overspeed</td>
                                                    <td><img src="assets/imgs/red.png"/></td>
                                                    <td>No Data</td>
                                                    <td><img src="assets/imgs/gray.png"/></td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                        </div>

            <div class="details_box_top" ng-show="dpdown=='Yes'">
                <div class="alert alert-warning">
                    <span>Sorry for the inconvenience, Reports not available for one hour.</span>
                </div>
            </div>

           <div class="details_box_zoho"  ng-show="zohod" style="padding-top: 15px;"><span class="closeZoho" ng-click="ZohoCall()">&times;</span><a style="color:inherit;" target="_blank" ng-href="{{zohoLink}}">{{zohoDays}}</a></div>

            <!--  <div class="togl_buton"  ng-show="toglButtn" ng-click="toglButon()"> <img src="assets/imgs/Up-Arrows.png"/></div>-->
            <div class="details_box_bottom">Support Details: {{support}}</div>


                      <div id="graphsId">
                            <div>
                                <div>Speed - <label id="speed"></label>&nbsp;Km/h</div>
                                <div id="container-speed"></div>
                            </div>
                            <div ng-show="vehiclFuel">
                                <div>Tank Size - <label id="fuel"></label>&nbsp;Ltr</div>
                                <div id="container-fuel"></div>
                            </div> 
                        </div>

                        <div id="contentmin" class="rightsection">
                            <input type="button" id="traffic" ng-click="checkme('traffic')" value="Traffic" />
                            <input type="button" value="Measure" id="pac-input02" ng-click="distance('pac-input02');"/>
                            <input type="text" id="distanceVal" value="0" disabled/> <span style="font-size:12px;">Kms</span>
                               
                            <div class="_caption_rightSide" align="center"> Live Tracking <div id="google_translate_element"></div></div>
                            
                            <div style="display: flex">
                                
                                <div>
                                <select ng-model="days1"  class="_button_select">
                                    <option value = "0">{{vehiLabel}} Id</option>
                                    <option ng-repeat="vehi in vehicle_list" value="{{vehi.vehiID}}">{{vehi.vName}}</option>
                                </select>

                                <select id="Days" ng-model="days" class="_button_select">
                                    <option value = "0">Days</option>
                                    <option value = "1">1</option>
                                    <option value = "2">2</option>
                                    <option value = "3">3</option>
                                    <option value = "4">4</option>
                                    <option value = "5">5</option>
                                    <option value = "6">6</option>
                                    <option value = "7">7</option>
                                    <option value = "8">8</option>
                                    <option value = "9">9</option>
                                    <option value = "10">10</option>
                                    <option value = "30">1 Month</option>
                                    <option value = "90">3 Month</option>
                                    <option value = "365">1 Year</option>
                                </select>
                                <input type="button" id="traffic" data-toggle="modal" data-target="#myModal" value="Get Url" />
                                </div>

                                <div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
                                    <div class="modal-dialog modal-md">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                         <div class="form-group">
                                             <h4>Get Url</h4>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                             <label for="mail">Mail Id:</label>
                                              <input type="text" class="form-control" id="mail">
                                            
                                              <label for="phone">Phone No:</label>
                                              <input type="text" class="form-control" id="phone">
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" ng-click="getMailIdPhoneNo(days1, days)" class="btn btn-default" data-dismiss="modal">Submit</button>
                                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                               <!-- The Modal -->
                                  <div id="poi" class="poi_Modal">
                                 <!--<div class="modal-header">
                                       <span>Modal Header</span>  
                                       <span class="close">&times;</span>
                                     </div> -->
                              
                              <!-- Modal content -->
                                  <div class="poi-content">
                                <!-- <span class="close1">&times;</span> -->
                                <!-- <h5>Add Site</h5> -->
                                   <div class="row">
                                     <div class="col-md-6"><input type="text" class="form-control" placeholder="Site Name" ng-model="poiName"></div>
                                     <div class="col-md-3"><button type="button" class="btn btn-default" ng-click="submitPoi(poiName)">Save Site</button></div>
                                     <div class="col-md-3"><button type="button" class="btn btn-default poi_close" >Close</button></div>
                                   </div>
    
                                  </div>
                                </div>

                               </div>
                               <div class="nearbyTable">
                                <h3>NearBy Vehicles <a href="#" style="position:absolute; top:10px; right:10px;" ng-click="nearBy();">X</a></h3>
                                <h5>Your Place - {{nearbyLocs.fromAddress}}</h5>   
                                <div>
                                    <table cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="width:30%;">{{vehiLabel}} Name</th>
                                                <th style="width:30%;">Distance</th>
                                                <th style="width:40%;">Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="nearbyLoc in nearbyLocs.vehicleDetails">
                                                <td>({{nearbyLoc.shortName}})</td>
                                                <td align="right">{{nearbyLoc.distance}}</td>
                                                <td>{{nearbyLoc.address}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="rightAddress" style="padding-top:2px;">
                                     <div class="_caption_rightSide">Api Key</div>
                                     <div align="center" style="word-wrap:break-word; font-size:11px;color:#949494;padding:5px 0 2px 0;">{{apiKeys}}</div> 
                                <!-- <div align="center" id="lastseen" style="word-wrap:break-word; font-size:11px;"></div> -->
                            </div>

                               <div class="dynamicvehicledetails">
                                <div id="viewable">
                                    <h3 id="vehiid"><span id="val"></span> &nbsp;&nbsp;<input id="inputEdit" type="button" value="Edit"/></h3>
                                    
                                    <div>
                                        <table cellpadding="0" cellspacing="0" class="_alignLeft">
                                            <tbody>
                                                <tr>
                                                    <td>Odo</td>
                                                    <td id="vehdevtype"><span id="val"></span> kms</td>
                                                    
                                                </tr>
                                                 <tr>
                                                    <td>Max</td>
                                                    <td id="mobno"><span id="val"></span> km/h</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td><span></span> Driver</td>
                                                    <td id="driverName"><span id="val"></span></td>
                                                    
                                                </tr>
                                                <!-- <tr>
                                                    <td>Today Distance</td>
                                                    <td id="toddist"><span id="val"></span> kms</td>
                                                    
                                                </tr> -->
                                                <tr>
                                                    <td id="positiontime"><span></span> Time</td>
                                                    <td id="regno"><span id="val"></span></td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>{{vehiLabel}}</td>
                                                    <td id="vehitype"><span></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Mobile</td>
                                                    <td id="mobNo"><span></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Reg</td>
                                                    <td id="regNo"><span></span></td>
                                                </tr>
                                                 <tr>
                                                    <td>Route</td>
                                                    <td id="routeName"><span></span></td>
                                                </tr>
                                                
                                            </table>
                                    </div>
                                </div>

                               <div id="editable">
                                    <h3 id="vehiid"><input id="val_veh" class="_input" type="input" ng-model="vehShort"/>  <input id="inputEdit" type="button" value="Update" ng-click="updateDetails()"/></h3>
                                    
                                    <div>
                                        <table cellpadding="0" cellspacing="0" class="_alignLeft">
                                            <tbody>
                                                <tr>
                                                    <td>Odo</td>
                                                    <td id="vehdevtype"><input id="val" class="_input" type="input" ng-model="ododis"/> kms</td>
                                                    
                                                </tr>
                                                 <tr>
                                                    <td>Max Speed</td>
                                                    <td id="mobno"><input id="val" class="_input" type="input" ng-model="spLimit"/> km/h</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td><span></span> Driver Name</td>
                                                    <td id="driverName"><input id="val" class="_input"  type="input" ng-model="driName"/></td>
                                                    
                                                </tr>
                                                <!-- <tr>
                                                    <td>Today Distance</td>
                                                    <td id="toddist"><span id="val"> kms</span></td>
                                                    
                                                </tr> -->
                                                <tr>
                                                    <td ><span id="positiontime">Position Time</span></td>
                                                    <!-- <td style="width:50%"><span id="positiontime">Position </span>Time</td> -->
                                                   <td id="regno"><span id="val"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>{{vehiLabel}} Type</td>
                                                    <td>
                                                        <select ng-model="vehType" class="_button_select_small">
                                                            <option value = "Bike">Bike</option>
                                                            <option value = "Car">Car</option>
                                                            <option value = "Bus">Bus</option>
                                                            <option value = "Truck">Truck</option>
                                                            <option value = "heavyVehicle">Heavy {{vehiLabel}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Mobile No</td>
                                                    <td id="mobNo"><input id="val" class="_input" type="input" ng-model="mobileNo"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Reg No</td>
                                                    <td><input id="val" type="input" class="_input" ng-model="refname"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Route Name</td>
                                                    <td> 
                                                     <select ng-options="vehi for vehi in _editValue._vehiRoutesList" ng-model="_editValue.routeName" class="_button_select_small">
                                                       <option style="display:none" value="">Select Route</option>
                                                     </select>
                                                    </td>
                                                </tr>

                                                 
                                        </table>
                                    </div>
                                </div>   
                                    
                                 <div id="safeParkShow">
                                    <div id="safEdits" class="dynamicvehicledetails">
                                        <table cellpadding="0" cellspacing="0" class="_alignLeft">
                                            <tr>
                                                <td style="width: 80px;">Safe Park</td>
                                                <td id="safePark"><span></span></td>
                                                <td id="safEdit" style="text-align: right;vertical-align: right;"><a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-cog"></span> </a></td>
                                            </tr> 
                                            </table>
                                            </div>
                                             

                                        <div id="safeUps" class="dynamicvehicledetails">
                                           <table cellpadding="0" cellspacing="0" class="_alignLeft">
                                              <tr>
                                                <td>Safe Park</td>
                                                <td> 
                                                    <select ng-model="sparkType" class="_button_select_small">
                                                        <option value = "Yes">Yes</option>
                                                        <option value = "No">No</option>
                                                    </select>
                                                 </td>
                                                 <td id="safeUp" style="text-align: right;vertical-align: right;" ng-click="updateSafePark()"><a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ok"></span> </a></td>
                                            </tr>   
                                        </table>
                                    </div> 
                                    </div>

                                    <div id="rightAddress2">
                                       <div class="_caption_rightSide">Address</div>
                                       <div align="center" id="lastseen" style="word-wrap:break-word; font-size:11px;"></div> 
                                    </div> 
                          
                                    
                              </div>
                        </div>
                        <a href="javascript:void(0);" class="contentexpand"><img src="assets/imgs/add.png"/></a>

     
                        <div  id="dropdowns">
                          <select ng-model="mapsHist" ng-change="changeMap(mapsHist)" style="font-size:12px;height: 26px; width: 63px; background: rgba(255, 255, 255, 0.9);border: none !important;">
                            <option value="1">Osm</a></option>
                            <option value="0">Google</option>
                          </select>
                        </div>


                        <input id="pac-input" style="margin-left: 180px" class="controls" type="text" placeholder="Enter a location">

                        <div  id="notifyS" class="alert alert-success" style="z-index: 1;position: absolute;margin-top: 50px;left:35%;">
                         Hello! Safety Parking updated successfully!
                        </div>

                        <div  id="notifyF" class="alert alert-danger" style="z-index: 1;position: absolute;margin-top: 50px;left:35%;">
                          Hello!&nbsp;<span></span>
                        </div>


                   <!-- <div id="maploc1" style="height:94vh; width:100%; margin-top: -40px;">
                            <map id="map_canvas" style="height:94vh; width:100%; margin-top: 35px;"></map> 
                        </div> -->

                            <div>
                                <map id="map_osm" style="height:94vh; width:100%; margin-top:38px;"></map>
                            </div>

                              <div>
                                <maposm id="maploc" style="height:94vh; width:100%;margin-top:38px"></maposm>
                             </div>

                       <!--     <div style="height:94vh; width:100%; margin-top: 35px;">
                                <map id="maploc" style="height:94vh; width:100%; margin-top: 35px;"></map>
                            </div>-->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="mapTable-mapList" style="z-index: 1;">
            <div id="flexcolor">
                <div style="float: left; width: 50%; ">
                    <div style=" width: 40px; height: 40px; background-color: #858585; cursor: pointer" ng-click="mapView('home')">
                        <img src="assets/imgs/arrowback.png"/>
                    </div>
                </div>
                <div style="text-align: center;"><h5><b>Current {{vehiLabel}}s Details</b></h5> </div>
                
            </div>
   
   <!-- <script type="text/javascript">

        var headID = document.getElementsByTagName("body")[0];         
        var newScript = document.createElement('script');
        newScript.type = 'text/javascript';
        newScript.id = 'myjQuery';
        newScript.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places';
        // newScript.async = true;
        newScript.defer = true;

        headID.appendChild(newScript);
        console.log(' value '+newScript)-->

           <div id="scrollTable" ng-show="tabView">
                   <table class="table table-striped table-bordered table-condensed table-hover" >
                     <tr style="text-align:center">
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'shortName'" sort="sort"><div style="width: 100px;">{{vehiLabel}} Name</div></th>
                        <th width="10%" style="text-align:center;" class="id" custom-sort order="'address'" sort="sort"><div style="width: 300px;">Nearest Location</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'position'" sort="sort"><div style="width: 70px;">Position</div></th>
                   <!-- <th style="text-align:center;" class="id" custom-sort order="'status'" sort="sort"><div style="width: 70px;">GPS</div></th>-->
                        <th width="5%" style="text-align:center;" class="id" custom-sort order="'gsmLevel'" sort="sort"><div style="width: 70px;">Sat</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'ignitionStatus'" sort="sort"><div style="width: 70px;">Ignition</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'lastSeen'" sort="sort"><div style="width: 100px;">Last Seen</div></th>
                        <th width="5%" style="text-align:center;" class="id" custom-sort order="'distanceCovered'" sort="sort"><div style="width: 50px;">KM</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'speed'" sort="sort"><div style="width: 70px;">Speed</div></th>
                        <th width="6%" style="text-align:center;"><div style="width: 70px;">G-Link</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'powerStatus'" sort="sort"><div style="width: 100px;">VehBattery</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'deviceStatus'" sort="sort"><div style="width: 100px;">DevBattery</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'regNo'" sort="sort"><div style="width: 100px;">Regn No</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'driverName'" sort="sort"><div style="width: 100px;">Driver Name</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'totalTruck'" sort="sort"><div style="width: 100px;">Load</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'fuelLitre'" sort="sort"><div style="width: 100px;">Fuel Litre</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'temperature'" sort="sort"><div style="width: 100px;">Temperature</div></th>
                        <th width="6%" style="text-align:center;" class="id" custom-sort order="'vehicleBusy'" sort="sort"><div style="width: 100px;">Ac/Hire</div></th>
                     </tr>
                    <tr ng-repeat="user in mapTable | orderBy:natural(sort.sortingOrder):sort.reverse" style="text-align:center; cursor: pointer" ng-mouseover="mouseJump(user)" ng-click="tabletd(user)">
                            <td>{{user.shortName}}</td>
                            <td>
                                <div>{{starSplit(user.address)[0]}}</div>
                                <div>{{starSplit(user.address)[1]}}</div>
                            </td>
                            <td ng-switch on="user.position">
                                <span ng-switch-when="S"><img title="Vehicle Standing" src="assets/imgs/orange.png"/></span>
                                <span ng-switch-when="M"><img title="Vehicle Moving" src="assets/imgs/green.png"/></span>
                                <span ng-switch-when="P"><img title="Vehicle Parked" src="assets/imgs/flag.png"/></span>
                                <span ng-switch-when="U"><img title="Vehicle NoData" src="assets/imgs/gray.png"/></span>
                            </td>
                    <!--    <td ng-switch on="user.status">
                                <span ng-switch-when="OFF"><img title="GPS OFF" src="assets/imgs/gof.png"/></span>
                                <span ng-switch-when="ON"><img title="GPS ON" src="assets/imgs/gon.png"/></span>
                            </td>-->
                            <td>{{user.gsmLevel}}</td>
                            <td ng-switch on="user.ignitionStatus">
                                <span ng-switch-when="OFF"><img src="assets/imgs/no.png"/></span>
                                <span ng-switch-when="ON"><img src="assets/imgs/yes.png"/></span>
                            </td>
                            <td>{{user.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{user.distanceCovered}}</td>
                            <td>{{user.speed}}</td>
                            <td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td>
                             <td>{{user.powerStatus}}
                                <!-- <span ng-switch-when="OFF"><img src="assets/imgs/wr.png"/></span>
                                <span ng-switch-when="ON"><img src="assets/imgs/rt.png"/></span> -->
                            </td>
                            <td>{{user.deviceStatus}}%</td>
                            <td>{{user.regNo}}</td>
                            <td>{{user.driverName}}</td>
                            <td>{{valueCheck(user.totalTruck)}}</td>
                            <td>{{valueCheck(user.fuelLitre)}}</td>
                            
                            <td>{{user.temperature}}</td>
                            <td ng-switch on="user.vehicleBusy">
                                <span ng-switch-when="yes" style="color: #ff0045">Busy</span>
                                <span ng-switch-when="no" style="color: #00ce2f">Available</span>
                            </td>
                           
                            <!-- <td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && mainlist[$index]==null">Click Me</td>
                            <td style="cursor: pointer;" ng-if="user.address==null && mainlist[$index]!=null">{{mainlist[$index]}}</td>
                            <td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td> -->                                                      
                        </tr>
                    </table>        
                </div>
        </div>
    </div>
    
<div id="snackbar">{{toast}}</div>
 
</div>
   
<!-- <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Near By Vehicles</h4>
          </div>
          <div class="modal-body">
            <p>click location you want to find nearby Vehicles</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div> -->
     
   
<script type="text/javascript">
    
//function for google language
function googleTranslateElementInit() {
   new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}

var apikey_url = JSON.parse(localStorage.getItem('apiKey'));
console.log('Api_Key : '+apikey_url);
var url = "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places";

if(apikey_url != null || apikey_url != undefined){
    url = "https://maps.googleapis.com/maps/api/js?key="+apikey_url+"&libraries=places"; 
}

   function loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback) {
     if (scriptsCollection[startIndex]) {
       var fileref = document.createElement('script');
       fileref.setAttribute("type","text/javascript");
       fileref.setAttribute("src", scriptsCollection[startIndex]);
       fileref.onload = function(){
         startIndex = startIndex + 1;
         loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback)
       };
 
       document.getElementsByTagName("head")[0].appendChild(fileref)
     }
     else {
       librariesLoadedCallback();
     }
   }
 
// An array of scripts you want to load in order
   var scriptLibrary = [];
   scriptLibrary.push("assets/js/static.js");
 //scriptLibrary.push("assets/js/jquery-1.11.0.js");
   scriptLibrary.push('http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js');
   scriptLibrary.push("assets/js/bootstrap.min.js");
   scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js");
 //scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js");
   scriptLibrary.push(url);
 //scriptLibrary.push("https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places");
   scriptLibrary.push("http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js");
   scriptLibrary.push("assets/js/leaflet.label.js");
   scriptLibrary.push("http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js");
   scriptLibrary.push("assets/js/ui-bootstrap-0.6.0.min.js");
   scriptLibrary.push("https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.6.0/angular-translate.js");
   
 /*scriptLibrary.push("http://code.highcharts.com/highcharts.js");
   scriptLibrary.push("http://code.highcharts.com/highcharts-more.js");
   scriptLibrary.push("http://code.highcharts.com/modules/solid-gauge.js"); */
   scriptLibrary.push("assets/js/highcharts_new.js");
   scriptLibrary.push("assets/js/highcharts-more_new.js");
   scriptLibrary.push("assets/js/solid-gauge_new.js");
   scriptLibrary.push("assets/js/markerwithlabel.js");
   scriptLibrary.push("assets/js/markerclusterer.js");
   scriptLibrary.push("assets/js/infobubble.js");
   scriptLibrary.push("assets/js/infobox.js");
   scriptLibrary.push("assets/js/naturalSortVersionDatesCaching.js");
 //scriptLibrary.push("assets/js/naturalSortVersionDates.js");
   scriptLibrary.push("assets/js/vamoApp.js");
   scriptLibrary.push("assets/js/services.js");
   scriptLibrary.push("assets/js/custom.js");

// Pass the array of scripts you want loaded in order and a callback function to invoke when its done
   loadJsFilesSequentially(scriptLibrary, 0, function(){
// application is "ready to be executed"
// startProgram();
   });

</script>

 </body>
</html>
